{% extends 'base.html' %}
{% block title %} {{ poll.title }} {% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center display-2 mb-4">{{ poll.title }}</h1>



    <div class="row">
        {% for answer in answers %}
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ answer.option }}</h5>
                    <button class="btn btn-primary vote-btn w-100" data-option-id="{{ answer.id }}">
                        Vote
                    </button>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-warning text-center">
                <p>No options yet :(</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="text-center mt-4">
        <h4>Scan this QR code to share the poll:</h4>
        <div id="qrcode" class="d-inline-block mt-3"></div>
    </div>

    <div class="text-center mt-4">
        <h4>Or, use this link:</h4>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <input id="disabledInput" type="text" class="form-control" placeholder="" disabled>
            </div>
        </div>
    </div>





</div>

<script>
    // Generate QR Code for the Poll URL
    const str = window.location.href;  // Get current page URL (poll URL)
    const pollUrl = str.replace('/results', '');
    var qrcode = new QRCode("qrcode", pollUrl);

    // Update URL underneath QR code
    const inputElement = document.getElementById('disabledInput');
    inputElement.placeholder = pollUrl;

    // Add event listeners to vote buttons
    document.querySelectorAll('.vote-btn').forEach(button => {
      button.addEventListener('click', function() {
        const optionId = this.getAttribute('data-option-id');

        // Send the vote to the server using AJAX
        $.ajax({
          type: 'POST',
          url: '/vote/',  // Update this to your vote endpoint
          data: {
            'answer_option_id': optionId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'  // CSRF token for security
          },
          success: function(response) {
            window.location.href = "/{{ poll.id }}/results";
          },
          error: function(xhr, status, error) {
            alert('An error occurred. Please try again later.');
          }
        });
      });
    });
</script>
{% endblock %}
